<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">CHÍNH SÁCH VẬN CHUYỂN</h2>
            <div class="single-blog-post">
                <h2>Dịch vụ giao xe tận nhà</h2>
                <p>BikeShop luôn luôn có chính sách hỗ trợ vận chuyển xe cho khách hàng ở các tỉnh và thành phố.</p>
                <h3>Thời gian nhận và chi phí vận chuyển</h3>
                <ul>
                    <li><b>Đơn hàng nội thành HCM:</b> dự kiến 1-2 ngày kể từ ngày chốt đơn (do dịch vụ vận chuyển).
                    </li>
                    <li>Giao bằng xe máy: 200.000 – 300.000 đ/ lần (tùy theo quãng đường)</li>
                    <li>Giao bằng xe bán tải: tùy số km, giá có thể từ 500.000 đ/ lần trở lên</li>
                    <li><b>Đơn hàng khu vực miền Trung, Bắc:</b> Đơn vị chuyên vận chuyển xe: 1.200.000 đồng (5-7 ngày)
                    </li>
                </ul>
                <p><b style="color: red">Lưu ý:</b> đối với khu vực miền Trung, Bắc, BikeShop sẽ hỗ trợ vận chuyển trên
                    tuyến <b>Quốc lộ 1A</b>, trạm cuối là bến xe Mỹ Đình Hà Nội.</p>
                <p>Ngoài ra khách hàng còn có thể tự sắp xếp đơn vị vận chuyển, BikeShop sẽ hỗ trợ giao xe. (Phí giao
                    khách hàng đảm nhận)</p>
                <hr>
                <h2>Chính sách bồi thường</h2>
                <p>Khi mua xe trực tuyến, online từ xa: khách hàng cần chuyển khoản thanh toán hết tiền xe và phí vận
                    chuyển xe.</p>
                <ul>
                    <li>Trước khi vận chuyển nhân viên BikeShop sẽ liên hệ khách hàng, chụp ảnh, quay video hoặc video
                        call cho khách hàng để xác nhận tình trạng xe.</li>
                    <li>Sau đó BikeShop sẽ ký biên bản xác nhận tình trạng xe với đơn vị vận chuyển.</li>
                    <li>Khi khách hàng nhận xe cần kiểm tra xe cẩn thận, trong trường hợp xe trầy xước hoặc nghi ngờ bị
                        tráo đổi. Khách hàng có quyền truy vấn và yêu cầu đơn vị vận chuyển chịu trách nhiệm bồi thường.
                        BikeShop sẽ cung cấp thông tin để đảm bảo quyền lợi khách hàng tốt nhất.</li>
                </ul>
                <p>Vì BikeShop vận chuyển bằng đơn vị vận chuyển chuyên dụng nên trong trường hợp trễ hạn 1-2 ngày mong
                    khách hàng thông cảm.</p>

            </div>

        </div>
    </div>
</section>