<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">Bài Review Mới Nhất</h2>
            <div class="single-blog-post">
                <h3>WINNER X 2022</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/c_1.jpg" alt="">
                </a>
                <p>Về tổng thể, dễ nhận thấy mẫu xe Winner X mới nhất 2022 có thiết kế lột xác hoàn toàn trong cao cấp và thể thao hơn so với đời cũ.

                    Winner X 2022 có kích thước dài x rộng x cao lần lượt là 2.019 mm x 727 mm x 1.088 mm, khoảng sáng gầm xe 150mm, chiều cao yên 795 mm.
                    
                    Người sử dụng có thể dễ dàng nhìn thấy sự khác biệt hoàn toàn ở phiên bản này ở đường vút đầu xe sắc nhọn, nối liền là thân xe bề thế với phần yếm trải rộng cùng đuôi xe được vuốt cao gọn gàng, tạo cảm giác khỏe khoắn vô cùng.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>REBEL 1100</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/c_2.jpg" alt="">
                </a>
                <p>Mẫu mô-tô phiên bản mới của Honda sử dụng động cơ L-Twin, dung tích 1.084 cc, hai phiên bản Tiêu chuẩn giá 449 triệu và DCT giá 499 triệu đồng.

                    Sau phiên bản Rebel 300 và 500 ra mắt trước đây, Honda tiếp tục giới thiệu Rebel 1100 tại thị trường Việt Nam. Rebel 1100 vẫn giữ phong cách bobber, với điểm nhấn thiết kế màu đen các chi tiết khung, động cơ, giảm xóc và bộ vành.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>YFZ R3</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/c_3.jpg" alt="">
                </a>
                <p>Yamaha R3 2022 hay còn gọi là Yamaha YZF-R3 2022 là xe mô tô nhập khẩu thứ hai được Yamaha Việt Nam đưa về và phân phối tại thị trường trong nước, sau khi mẫu naked-bike Yamaha FZ150i được cộng đồng người chơi Việt Nam đón nhận nồng nhiệt.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="pagination-area">
                <ul class="pagination">
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>