<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">ĐĂNG KÝ BIỂN SỐ</h2>
            <div class="single-blog-post">
                <h2>Dịch vụ đăng ký biển số</h2>
                <p>Hiện nay, các cửa hàng BikeShop có cung cấp dịch vụ hỗ trợ đăng ký biển số xe máy.</p>
                <h3>Phí dịch vụ đăng ký biển số là bao nhiêu?</h3>
                <p>Phí dịch vụ tùy theo địa chỉ quê quán trong thẻ CMND/ CCCD là huyện, thành phố. Ngoài ra, phí làm biển số xe có thể tăng theo năm tùy mức giá của chính quyền sở tại.</p>
                <p>BikeShop sẽ báo giá trước để khách hàng có đầy đủ thông tin về chi phí trước khi quyết định.</p>

                <h3>Ai nên sử dụng gói dịch vụ biển số xe máy</h3>
                <p>Khách hàng mua xe ở điểm điểm xa quê, không tiện về quê để đăng ký: sinh viên, doanh nhân, cán bộ, công nhân,… đang tạm trú tại thành phố. <br>
                    Khách hàng có hộ khẩu thành phố nhưng không có nhiều thời gian. <br>
                    Khách hàng mua xe trả góp tại Minh Long Motor.</p>

                <h3>Tự làm biển số xe máy</h3>
                <p>Để tiết kiệm chi phí hơn thì các bạn có thể tự làm giấy tờ xe một cách nhanh – gọn – lẹ. Như vậy, nếu muốn tự chính bản thân mình thực hiện quá trình làm giấy tờ xe thì cần những thủ tục gì và phải làm như thế nào? <br>
                    BikeShop cũng sẽ hướng dẫn chi tiết cho bạn có thể tự đăng ký biển số xe máy.
                </p>

                <h3>Thủ tục tự đăng ký biển số xe máy</h3>
                <h4>Đối với xe nhập khẩu</h4>
                <h5><b>Bước 1:</b> Bạn cần có đủ hồ sơ đăng ký xe (bản gốc) bao gồm:</h5>
                <ul>
                    <li>Phiếu kiểm định chất lượng</li>
                    <li>Hóa đơn công ty (khoảng 3 – 4 ngày sau khi mua xe thì cửa hàng sẽ cung cấp cho bạn)</li>
                    <li>Hải quan hay còn gọi là giấy thông quan (sẽ được cấp sau khi bạn mua xe khoảng từ 4 – 5 tuần).</li>
                </ul>
                <h5><b>Bước 2:</b> Khi có đủ hồ sơ đăng ký xe, bạn đến Chi cục Thuế nhận giấy biên nhận sau khi đã hoàn tất việc đóng thuế.</h5>
                <h5><b>Bước 3:</b> Đến Cơ quan Công an để bấm biển số.</h5>
                <p><b style="color: red">* Lưu ý:</b> Khi bấm biển Công an sẽ xét xe, trong trường hợp xe bạn thay đổi kết cấu thì quá trình bấm biển thất bại.</p>
                <h4>Đối với xe trong nước</h4>
                <p>Quá trình thực hiện tương tự với cách đăng ký biển số của xe nhập khẩu. Tuy nhiên, hồ sơ đăng ký xe (bản gốc) bao gồm:</p>
                <ul>
                    <li>Giấy đăng kiểm, còn gọi là giấy khai nguồn gốc xuất xứ (thông thường đã có sẵn khi mua xe)</li>
                    <li>Hóa đơn công ty (khoảng 3 – 4 ngày cửa hàng sẽ cung cấp cho bạn)</li>
                </ul>

                <h3>Phí tự đăng ký biển số là bao nhiêu?</h3>
                <p><b>Hộ khẩu Thành phố:</b> = Giá trị tài sản tính lệ phí trước bạ (đồng) x Mức thu lệ phí trước bạ theo tỷ lệ (5%) <br>
                    <b>Hộ khẩu Tỉnh:</b> = Giá trị tài sản tính lệ phí trước bạ (đồng) x Mức thu lệ phí trước bạ theo tỷ lệ (2-3%) <br>
                    2%: Hộ khẩu ở thị xã <br>
                    3%: Hộ khẩu ở huyện</p>
                <p><b>Ví dụ:</b> Bạn mua Yamaha R15 V3 với giá xuất hóa đơn là 60 Triệu thì khi đóng thuế, bạn phải nộp lệ phí trước bạ như sau:</p>
                <table style="border-collapse: collapse">
                        <tr>
                            <td>Phí trước bạ phải nộp khi Hộ khẩu ở TP</td>
                            <td> = 5% x 60.000.000 = 3.000.000</td>
                        </tr>
                        <tr>
                            <td>Phí trước bạ phải nộp khi Hộ khẩu ở Huyện</td>
                            <td> = 3% x 60.000.000 = 1.800.000</td>
                        </tr>
                        <tr>
                            <td>Phí trước bạ phải nộp khi Hộ khẩu Thị xã</td>
                            <td> = 2% x 60.000.000 = 1.200.000</td>
                        </tr>
                </table>
                <h1>Lưu Ý</h1>
                <p>Khi hoàn tất thủ tục bấm biển, cơ quan công an sẽ gửi bạn giấy hẹn để giao cavet gốc. <br> Giấy hẹn này có chức năng chứng minh nguồn gốc xe của chủ sở hữu. Và khi bạn đã có biển số, đồng nghĩa với việc bạn đã đủ điều kiện để tham gia giao thông.</p>
            </div>
        </div>
    </div>
</section>