<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">TUYỂN DỤNG</h2>
            <div class="single-blog-post">
                <h2>Thông tin tuyển dụng</h2>
                <p style="font-size: 20px">Chúng tôi có tuyển dụng các vị trí như Kĩ thuật xe máy, Tư vấn xe máy, Phụ tùng viên, CTV Marketing,…

                    Các bạn vui lòng xem các công việc ở những bài đăng bên dưới nhé!</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="thumbnail" src="../../../assets/imgs/tuyendung.jpg" alt="" />
                                <h2>Tuyển kỹ thuật sửa xe máy<span>[Tuyển gấp]</span></h2>
                                <a routerLink="" class="btn btn-default add-to-cart">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="thumbnail" src="../../../assets/imgs/tuyendung.jpg" alt="" />
                                <h2>Kinh doanh phụ tùng <span>[Cần tuyển]</span></h2>
                                <a routerLink="" class="btn btn-default add-to-cart">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="thumbnail" src="../../../assets/imgs/tuyendung.jpg" alt="" />
                                <h2>Tư vấn khách hàng <span>[Đã tuyển đủ]</span></h2>
                                <a routerLink="" class="btn btn-default add-to-cart">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="thumbnail" src="../../../assets/imgs/tuyendung.jpg" alt="" />
                                <h2>Kế toán <span>[Đã tuyển đủ]</span></h2>
                                <a routerLink="" class="btn btn-default add-to-cart">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>