<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Loại Xe</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Sportswear
                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Nike </a></li>
                            <li><a href="#">Under Armour </a></li>
                            <li><a href="#">Adidas </a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">ASICS </a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Xe Số</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Xe Tay Ga</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Xe Tay Côn</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Xe Nhập Khẩu</a></h4>
                </div>
            </div>
        </div>
        <!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Hãng Xe</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/shop"> <span class="pull-right">(50)</span>Honda</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(56)</span>Yamaha</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(27)</span>Suzuki</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(32)</span>Khác</a></li>
                </ul>
            </div>
        </div>
        <!--/brands_products-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="images/home/shipping.jpg" alt="" />
        </div>
        <!--/shipping-->

    </div>
</div>