<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">CHÍNH SÁCH TRẢ GÓP</h2>
            <div class="single-blog-post">
                <h2>TRẢ GÓP</h2>
                <hr>
                <p style="font-size: 20px">Tổng hợp những chương trình và chính sách trả góp xe máy của các ngân hàng hỗ trợ tài chính tại BikeShop</p>
                <ul>
                    <li><b>B1:</b> Tìm kiếm thông tin mẫu xe quan tâm tại shop</li>
                    <li><b>B2:</b> Chuẩn bị các loại giấy tờ cần thiết: <b>CMND/CCCD/Bằng lái xe/Hộ khẩu</b></li>
                    <li><b>B3:</b> Đế cửa hàng để tiến hành làm thủ tục trả góp</li>
                    <li><b>B4:</b> Thanh toán và nhận xe <b style="color: red">Trả trước khoản 20%-30%</b></li>
                    <li><b>B5:</b> Mang xe về</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>