<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">THI BẰNG LÁI</h2>
            <div class="single-blog-post">
                <h3>BikeShop hỗ trợ quý khách hàng thi bằng lái <b>A1, A2</b> xác xuất đậu cao, thời gian nhanh chóng, thủ tục dễ dàng</h3>
                <h2>Hồ sơ thi bằng lái A1</h2>
                <h3>Hồ sơ gồm có</h3>
                <ul>
                    <li>CMND/CCCD có giá trị hiện hành</li>
                    <li>Hình 3x4 người dự thi</li>
                </ul>
                <hr>
                <h2>Hồ sơ thi bằng lái A2</h2>
                <h3>Hồ sơ gồm có</h3>
                <ul>
                    <li>CMND/CCCD có giá trị hiện hành</li>
                    <li>Hình 3x4 người dự thi</li>
                    <li>Bằng lái A1 (nếu có)</li>
                </ul>
                <hr>
                <h3>Hình thức đăng ký</h3>
                <ul>
                    <li>Khách hàng có thể đến một trong các chi nhánh BikeShop gần nhất để đăng ký và thanh toán phí đăng ký thi.</li>
                    <li>Khách hàng ở xa có thể liên hệ các chi nhánh gần nhất, để được hướng dẫn đăng ký online</li>
                </ul>
                <p><b>Ngày dự thi:</b> Mỗi tháng sẽ có 2-3 buổi thi. Tùy vào ngày khách hàng lựa chọn và thanh toán, bộ phận hỗ trợ sẽ gọi điện thoại báo cho khách hàng lịch trình cụ thể.</p>
                <p>Khi đăng ký, tùy vào nhu cầu khách hàng mà bộ phận dịch vụ của BikeShop sẽ đề xuất hỗ trợ khách hàng thuận tiện nhất có thể.</p>
                <h1>Lưu ý cần biết khi đăng ký thi bằng lái A1, A2</h1>
                <ul>
                    <li>Khách hàng cần biết chữ mới có thể hỗ trợ đăng ký thi bằng lái.</li>
                    <li>Chưa có dịch vụ hỗ trợ khách nước ngoài đăng ký thi bằng lái.</li>
                    <li>Bằng lái, giấy căn cước khách hàng cần còn hạn và đảm bảo hiện hành.</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>